.childSummary {
  display: flex;
  flex-direction: row;
  align-self: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-right: 0%;
}

.kidsPhoto {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-size: cover;
  padding: 0%;

}




.kidsBio {
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 3;
  max-width: 220px;
  overflow: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */

}

.kidsParagraph,
.kidsWrapper {
  display: flex;
  align-items: center;
  padding: 1rem;

}

.kidsWrapper {
  border-top: 1px solid purple;
}


.kidsName {
  margin-left: .5rem;
  margin-top: .5rem;
  padding-bottom: 0%;
  font-size: 2rem;
}

.linkChildInfo {
  margin-top: 2.5rem;
  padding: 0%;
}


.addKidButton {
  margin-bottom: 1rem;
}




.KidsAwesomeText {
  margin-top: 3rem;
  margin-bottom: 3rem;


  text-align: center;
}