 body {
   font-family: 'Open Sans', sans-serif;
   background-color: #fff;
 }


 /* .fa {
   font-size: 22px;
   transform: translateY(50deg);
 } */



 .containerMassageApp {
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: 0;
   padding-top: 30px;
 }

 .add-item {

   margin-right: 50px;
   margin-bottom: 0;
   width: 100%;
   margin-right: auto;
 }

 .display-item {
   width: 65%;
   margin-left: 50px;
 }

 .display-item button {
   margin-top: 10px;
   margin-left: auto;
   display: block;
 }

 .add-item .loginMassageform {
   width: 70%;
   overflow: hidden;
 }

 input {
   color: rgb(71, 70, 70);
   padding: 0;
   font-size: 1rem;
   margin-bottom: 17px;
   border: 0;
   display: block;
   width: 30%;
 }

 .MessageUl {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
 }

 .MessageList {
   width: auto;
   list-style-type: none;
   margin-right: 50px;
   background-color: rgb(237, 237, 237);
   color: rgb(71, 70, 70);
   margin-bottom: 2rem;

 }



 .MessageList h3 {
   background-color: #056CB0;
   margin: 0;
   color: #fff;
   font-size: 1rem;
   padding: 15px;
 }

 form button {
   width: 90%;
   margin-top: 10px;
 }

 .sendButton {
   width: 30%;
   margin-bottom: 2rem;
 }

 .removeButton {
   margin-top: 8rem;
   margin-bottom: 1rem;
   margin-right: 28px;
 }


 /* Media Query */

 @media only screen and (max-width: 600px) {
   .mobileResize {
     width: 100%;
     margin-left: 50px;
   }

   .mobileResize .listItems {
     width: 100% !important;
   }
 }