a.navbar-brand {

  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #C4E8F6;

}

.navHeader #navBarBrand.navBarMainText .navbar-light .navbar-brand {
  color: red;
}