.wrapper {
  display: inline-block;
}




.childMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.stillAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  border-top: solid #EBC23E 6px;
  padding: 1rem;
  justify-content: space-around;
  width: 30%;

}

.safetyStill {
  width: 100px;
  height: auto;


}

.AllergyMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  border-top: solid #EBC23E 6px;
  padding-top: 10px;
}

.allergyInfo {
  margin-bottom: .5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  width: 50%;
  justify-content: space-between;
  margin: 0%;
}

.medBag {
  width: 100px;
  height: auto;
}

.listItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainCheckListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  border-top: solid #EBC23E 6px;
  padding-top: 10px;
}

.KidsMark {
  margin-bottom: .5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  width: 50%;
  justify-content: space-between;
  margin: 0%;
}

.CheckMark {
  width: 100px;
  height: auto;
}


ul {
  text-align: left;
  padding: 15px;

}


.postedImage {
  background-image: url("./Images/office-yellow-paper-sticky-note-transparent-background-template-your-projects-vector-illustration-106733431.png");
  background-size: cover;
  background-position: center;
  width: 30vw;
  min-height: 50vh;
}

.postedText {
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;

}

.sendStill {
  padding-top: 10%;
}

.lastYellowLine {
  margin-bottom: 20%;
}

.childParagraph {
  display: flex;

  text-align: justify;
  width: 30%;
}

.helloText {
  padding: .5rem;
}

.noteText {
  font-size: 1rem;
}